DOMAIN=http://localhost
PHPUNIT_CONFIG=vendor/edefine/symfony-code-standards/config/phpunit.dist.xml
PHPCS_CONFIG=vendor/edefine/symfony-code-standards/config/phpcs.xml.dist
PHP_CS_FIXER_CONFIG=vendor/edefine/symfony-code-standards/config/.php-cs-fixer.dist.php
PHPMD_CONFIG=vendor/edefine/symfony-code-standards/config/phpmd.xml.dist
PHPSTAN_CONFIG=vendor/edefine/symfony-code-standards/config/phpstan.neon.dist
RECTOR_CONFIG=vendor/edefine/symfony-code-standards/config/rector.php
